!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", http: { equiv: "Content-Type" }}
    %title AwesomeEvents
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.navbar.navbar-default{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '#bs-example-navbar-collapse-1' }}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'AwesomeEvents', root_path, class: 'navbar-brand'
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to 'ログアウト', new_event_path
            - if logged_in?
              %li
                = link_to 'ログアウト', logout_path
            - else
              %li
                = link_to 'Twitterでログイン', '/auth/twitter'
    .container
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      = yield
